<!DOCTYPE html>
<html>
<head>
    <title>Select Dates - GBP Timesheet</title>
</head>
<body style="background-color: green; color: white;">
    <h2>{{ message }}</h2>
    <form method="POST">
        <label>Start Date (MM/DD/YYYY):</label><br>
        <input name="start"><br><br>
        <label>End Date (MM/DD/YYYY):</label><br>
        <input name="end"><br><br>
        <button type="submit" name="submit_button">View Hours</button>
        <br>
        <br>
        <button type="submit" name="submit_button" value="logout">Logout</button>
    </form>
    
</body>
</html>
